<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel</title>
    <!-- css -->
    <link rel="stylesheet" href="/src/theme.css">
    <!-- bootstrap5 min css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- boxicons css -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- OwlCarousel css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <!-- aos css -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
              <nav class="navbar navbar-expand-lg">
                <img class="navbar-brand" src="/public/assert/logo.png">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link Active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Discover</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Special Deals</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Contact</a>
                    </li>
                  </ul>
                  <div class="d-flex">
                    <button class="Login" type="button">Login</button>
                    <button class="btn-1" type="button">Sign Up</button>
                  </div>
                </div>
            </nav>
            </div>
        </div>

        <!-- hero-section -->
        <div class="row bg-img-map">
          <div class="col-6 col-xxl-3 order-xl-2 d-flex" data-aos="fade-up" data-aos-duration="2000">
            <div class="hero-img-1">
              <img src="/public/assert/hero1.png">
              <img src="/public/assert/plain-icons.png" class="plain-icons">
              <img src="/public/assert/hero2.png">
            </div>
            <div class="order-xl-2 d-none d-sm-block hero-img-2">
              <img src="/public/assert/hero3.png">
            </div>
          </div>

          <div class="col-xl-6 order-xl-1"data-aos="fade-right" data-aos-duration="2000">
            <div class="hero-hook">
              <button type="button" class="btn-2">Explore the World!<i class='bx bx-world'></i></button>
              <h2>Travel <strong>Top Destination</strong><br>of the World</h2>
              <p>Immerse yourself in a world of wanderlust with our curated travel experiences. From breathtaking landscapes to cultural gems, embark on unforgettable adventures.</p>
              <div class="d-flex">
                <button type="button" class="btn-3">Get Started</button>
                <button type="button" class="btn-4"> <img src="/public/assert/play-cricle.png"> Watch Demo</button>
              </div>
            </div>
          </div>
        </div>

        <!-- brand-slider -->
        <div class="row my-5">
          <div class="col-12" data-aos="fade-down"
          data-aos-duration="2000">
            <div class="owl-carousel owl-theme brand-slider">
              <div class="item">
                <img src="/public/assert/side1.png">
              </div>
              <div class="item">
                <img src="/public/assert/side2.png">
              </div>
              <div class="item">
                <img src="/public/assert/slide3.png">
              </div>
              <div class="item">
                <img src="/public/assert/slide4.png">
              </div>
              <div class="item">
                <img src="/public/assert/slide5.png">
              </div>
              <div class="item">
                <img src="/public/assert/slide6.png">
              </div>
            </div>
          </div>
        </div>

        <!-- SERVICE -->
        <div class="row pb-5">
          <div class="col-md-5 service" data-aos="fade-right" data-aos-duration="2000">
              <h5>SERVICE</h5>
              <h3>Tailored Journeys for Comprehensive Travel Experience</h3>
          </div>
          
          <div class="col-md-7" data-aos="fade-left" data-aos-duration="2000">
            <div class="owl-carousel owl-theme theme-slider2">
              <div class="item service-card text-center">
                <div class="map-img">
                    <img src="/public/assert/map.png">
                </div>
                  <h5>Wanderlust Escapes</h5>
                  <p>Dive into tailor-made journeys, from exotic getaways to cultural odysseys, crafted just for you.</p>
              </div>

              <div class="item service-card-2 text-center">
                <div class="map-img">
                    <img src="/public/assert/arrow-r-l.png">
                </div>
                  <h5>Wanderlust Escapes</h5>
                  <p>Dive into tailor-made journeys, from exotic getaways to cultural odysseys, crafted just for you.</p>
              </div>

              <div class="item service-card text-center">
                <div class="map-img">
                    <img src="/public/assert/map.png">
                </div>
                  <h5>Wanderlust Escapes</h5>
                  <p>Dive into tailor-made journeys, from exotic getaways to cultural odysseys, crafted just for you.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- top-destination -->
        <div class="row pt-5">
          <div class="col-md-6 top-destination" data-aos="fade-up" data-aos-duration="2000">
            <h5>TOP DESTINATIONS</h5>
            <h2>Top Picks Unveiled</h2>
          </div>
          <div class="col-md-6 pb-4" data-aos="fade-up" data-aos-duration="2000">
            <div class="arrow-mark d-flex justify-content-end">
              <img src="/public/assert/left-arrow.png" class="prev-arrow mt-2">
            <img src="/public/assert/next.png" class="next-arrow">
            </div>
          </div>
        </div>
          <div class="row mb-5">
            <div class="col-12" data-aos="fade-up" data-aos-duration="2000">
              <div class="owl-carousel owl-theme theme-slider3">
                <div class="item">
                    <img src="/public/assert/card1.png">
                    <h5>Paradise Beach, Bantayan Island</h5>
                    <div class="d-flex">
                      <p>Rome,Italy</p>
                      <h6 class="ms-auto mt-2">4.8<i class='bx bxs-star mx-1'></i></h6>
                    </div>
                    <h4 class="price">$550.16</h4>
                </div>

                <div class="item">
                  <img src="/public/assert/card2.png">
                  <h5>Paradise Beach, Bantayan Island</h5>
                  <div class="d-flex">
                    <p>Rome,Italy</p>
                    <h6 class="ms-auto mt-2">4.8<i class='bx bxs-star mx-1'></i></h6>
                  </div>
                  <h4 class="price">$550.16</h4>
                </div>

                <div class="item">
                  <img src="/public/assert/card3.png">
                  <h5>Paradise Beach, Bantayan Island</h5>
                  <div class="d-flex">
                    <p>Rome,Italy</p>
                    <h6 class="ms-auto mt-2">4.8<i class='bx bxs-star mx-1'></i></h6>
                  </div>
                  <h4 class="price">$550.16</h4>
                </div>
              </div>
            </div>
          </div>

        <!--travel-point-->
          <div class="row travelar">
            <div class="col-lg-8" data-aos="fade-right" data-aos-duration="3000">
              <img src="/public/assert/travelar.png">
            </div>
            
            <div class="col-lg-4 travelar-1"data-aos="fade-left" data-aos-duration="3000">
              <h5>TRAVEL POINTS</h5>
              <h3>We helping you find your dream location</h3>
              <p>Let us guide you to your dream destination with expertise and  care. Our commitment is to assist you discovering the perfect.</p>
              <div class="traveled-place d-flex">
                <div class="card-1">
                  <h5 class="counter">0</h5>
                  <p>Holiday Packages</p>
                </div>
                <div class="card-1">
                  <h5 class="counter">0</h5>
                  <p>Luxury Hotels</p>
                </div>
              </div>
            </div>
          </div>
<!-- container close -->
    </div>

    <!-- aos js -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- jquery  js-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- js -->
    <script src="/src/app.js"></script>
    <!-- bootstrap5 js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- boxicons js -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <!-- OwlCarousel js -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    
    <script>
      AOS.init();
    </script>

    <!-- brand slider -->
    <script>
    $(document).ready(function(){
      var brandOwl = $('.owl-carousel.brand-slider');
      brandOwl.owlCarousel({
          items: 6,
          loop: true,
          margin: 10,
          autoplay: true,
          autoplayTimeout: 1000,
          autoplayHoverPause: true,
          dots: false,
          responsive: {
              0: {
                  items: 3  
              },
              576: {
                  items: 4 
              },
              768: {
                  items: 6  
              }
          }
      });

      $('.brand-slider .play').on('click', function(){
          brandOwl.trigger('play.owl.autoplay', [1000]);
      });

      $('.brand-slider .stop').on('click', function(){
          brandOwl.trigger('stop.owl.autoplay');
      });
  });
    </script>

    <!-- theme-slider2 -->
    <script>
  $(document).ready(function(){
    $('.theme-slider2').owlCarousel({
        items: 3,
        loop: true,
        margin: 10,
        dots: false,
        responsive: {
          0: {
              items: 1  
          },
          576: {
              items: 1 
          },
          768: {
              items: 1  
          },
          992: {
              items: 1  
          },
          1200: {
              items: 2  
          }
      }
    });
});
 </script>
  <!-- theme-slider3 -->
  <script>
    $(document).ready(function(){
      var themeSlider = $('.theme-slider3');

      themeSlider.owlCarousel({
          items: 3,
          loop: true,
          margin: 10,
          autoplay: false,
          autoplayTimeout: 3000,
          dots: false,
          autoplayHoverPause: true,
          responsive: {
            0: {
                items: 1  
            },
            576: {
                items: 2 
            },
            768: {
                items: 3  
            }
        }
      });

      // Custom navigation with arrow buttons
      $('.next-arrow').on('click', function(){
          themeSlider.trigger('next.owl.carousel');
      });

      $('.prev-arrow').on('click', function(){
          themeSlider.trigger('prev.owl.carousel');
      });
  });
</script>

<script>
  function animateCounting(targetElement, start, end, duration) {
    let current = start;
    const increment = Math.ceil((end - start) / (duration / 15));
    const counterElement = document.querySelector(targetElement);

    const intervalId = setInterval(function () {
        current += increment;
        counterElement.textContent = current;

        if (current >= end) {
            clearInterval(intervalId);
            counterElement.textContent = `${end}+`;
        }
    }, 15);
}

function startCountingAnimation() {
    const options = {
        root: null,
        rootMargin: '0px',
        threshold: 0.5 // Trigger when at least 50% of the target is visible
    };

    const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                animateCounting('.card-1:nth-child(1) .counter', 0, 500, 2000);
                animateCounting('.card-1:nth-child(2) .counter', 0, 100, 2000);
                entry.target.style.opacity = 1; // Show the card when it becomes visible
                observer.unobserve(entry.target); // Unobserve after triggering once
            }
        });
    }, options);

    document.querySelectorAll('.card-1').forEach(card => {
        observer.observe(card);
    });
}

// Listen for the DOMContentLoaded event before attaching the observer
document.addEventListener('DOMContentLoaded', startCountingAnimation);
</script>


</body>
</html>